body{
    font-family: HelveticaNeue;
    display: flex;
    justify-content: center;
    margin: 0;
}

.mainContent{
    display: flex;
}
.mainHeader{
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
}
.mainHeader > h1 {
    margin: 5px;
}
.mainHeader > p {
    margin: 3px;
    font-size: calc(100% / 1.618);
}

.mainForm {
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 15px;
    font-size: 100%;
}

.title > header {
    text-align: center;
    background-color: deepskyblue;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    padding: 10px 0;
}

.imageTriangle {
    background-image: url(../assets/Triangle.png);
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}

.rumus {
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.rumus > span {
    display: block;
    text-align: center;
}

.inputData > header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.measurement {
    padding: 10px;
    border: 1.5px solid #767676;
    border-radius: 2px;
}

.mainInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

.mainInput > input {
    padding: 10px;
    border: 1.5px solid #767676;
    border-radius: 5px;
    width: 95%;
}

.error {
    color: red;
    font-size: 0.85em;
    display: none;
}

.inputAnswer {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button > button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.button > button[type=reset] {
    background-color: yellow;
}

#input3 {
    display: none;
}
